<a href="https://colab.research.google.com/github/Abdulmujeeb-Taiwo/Customer-Segmentation/blob/main/RFM_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [76]:
#!wget "https://archive.ics.uci.edu/static/public/502/online+retail+ii.zip"

--2024-12-04 10:38:48--  https://archive.ics.uci.edu/static/public/502/online+retail+ii.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘online+retail+ii.zip.1’

online+retail+ii.zi     [          <=>       ]  43.51M   392KB/s    in 62s

2024-12-04 10:39:50 (717 KB/s) - ‘online+retail+ii.zip.1’ saved [45622418]

In [77]:
#!unzip "online+retail+ii.zip"

Archive:  online+retail+ii.zip
replace online_retail_II.xlsx? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [78]:
df = pd.read_excel("online_retail_II.xlsx")

# **Understanding the data**

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [87]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [88]:
df.nunique()

Invoice        28816
StockCode       4632
Description     4681
Quantity         825
InvoiceDate    25296
Price           1606
Customer ID     4383
Country           40
dtype: int64

In [89]:
#The invoice has some Cancellation which may stand C and Adjustment which may stand for A
#By Removiing the uncertain invoice, we can have the total sales
df_wc = df[~df['Invoice'].str.contains("C|A", na=False)]

In [90]:
df_wc.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object

In [92]:
df_wc['Invoice'] = df_wc['Invoice'].astype(np.int64)

<ipython-input-92-9a8d15cf3da8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wc['Invoice'] = df_wc['Invoice'].astype(np.int64)

In [ ]:
from ast import pattern
import re
pattern = r"[a-zA-Zz]"
check_invoice = df_wc['StockCode'].astype(str)
len(re.findall(pattern, check_invoice.str.cat(sep=' ')))